/* client/styles.css */
body, html {
  margin: 0;
  padding: 0;
  background: #70c5ce; /* цвет фона, как в Flappy Bird */
  font-family: sans-serif;
}

#game-container {
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  max-width: 100%;
  height: auto;
}
